* {
    padding: 0;
    margin: 0;

}
a{
    text-decoration: none;
}
table a {
    color: #000000;
}
input{
    border: none;
}
@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.ttf") format('truetype');
}

html {
    height: 100%;
}

table {
    border-collapse: collapse;
}

body {

    background: rgb(255, 255, 255);
    background: linear-gradient(284deg, rgba(255, 255, 255, 1) 1%, rgba(218, 218, 218, 1) 53%);

    font-family: Roboto;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.cls {
    clear: both;
}

/*#header {*/
/*    display: block;*/
/*    position: fixed;*/
/*    width: 100%;*/
/*    background: #34495e;*/
/*    height: 50px;*/
/*    top: 0;*/
/*    z-index: 999;*/
/*}*/

/*#header .active-user {*/
/*    float: right;*/
/*    padding: 5px;*/
/*}*/

#header .active-user img, .nav-user img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

#header .active-user span a, .nav-user a {
    color: #fff;
    position: relative;
    top: -12px;
    padding-left: 10px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}

.nav-user {
    margin-left: -35px;
    margin-top: 10px;
}

#nav-menu {
    display: block;
    /*margin-top: 50px;*/
    padding: 10px 50px;
    height: 100%;
    border-right: 1px solid #cccccc;
    box-shadow: inset -1px 0px 10px #000000;
    background: #2c3e50;
    width: 130px;
    position: fixed;

}

#nav-menu ul {
    margin-top: 30px;
    position: absolute;
    right: 0;
    left: 0;

}

#nav-menu ul li {
    padding: 10px;
    list-style: none;
    /*background: #ecf0f1;*/
    /*background: linear-gradient(to right, #34495e 50%, #ecf0f1 50%);*/
    padding-left: 10px;
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    border-bottom: 5px solid #34495e;

}

#nav-menu ul li.active {
    background: #34495e;
}

#nav-menu ul li:hover {
    background: #34495e;
    background-position: left bottom;
    border-bottom: 5px solid #ecf0f1;

}

#nav-menu ul li:hover a {
    /*color: #ffffff;*/
}

#nav-menu ul li a {
    text-decoration: none;
    color: #ecf0f1;
    padding-left: 5px;
    font-size: 13px;
}


#main-content {
    display: block;
    padding-top: 20px;
    padding-left: 260px;
    float: left;
    width: 78%;
    margin-right: auto;
    margin-left: auto;
}

.block {
    margin-bottom: 30px;
}

.block-item {
    display: inline-block;
    border-radius: 1px;
    padding: 30px ;
    text-align: center;
    margin-right: 50px;
    width: 120px;
    height: 40px;
    font-size: 17px;
    background: linear-gradient(to right, #ecf0f1 50%, #34495e 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    box-shadow: 2px 0px 12px #888888;
    color: #ecf0f1;
    transition: all .5s ease-out;
    border-left: 5px solid #ecf0f1;
    line-height: .9em;

}

.block-item:hover {
    background-position: left bottom;
    color: #34495e;
    border-left: 5px solid #34495e;
}

.block-item span {
    display: block;
    margin-bottom: 10px;
}

table.table {
    margin-top: 30px;
    background: #ecf0f1;
    width: 100%;
    box-shadow: 2px 0px 12px #888888;
    border-radius: 2px;
    border: none;
    padding: 0 10px;
    font-size: 13px;
}

table.table thead {
    color: #ffffff;
    font-weight: bold;
    background: #34495e;
}

td {
    padding: 10px;
    border-bottom: 1px solid #34495e;


}

tr:nth-child(even) {
    background-color: #ffffff;
}

.btn {
    color: #ecf0f1;
    background: #34495e;
    padding: 10px 15px ;
}
.add-form , .login-form{
    background: #ffffff;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 0px 4px #888888;
}
.form-item{
    display: block;
    margin: 10px 0 ;
    width: 300px;
    height: 35px;
    border: 1px solid #ecf0f1;
}
input[type="file"].form-item{
    border: none;
}
/*Login Screen */
.fLeft{
    float: left;
}
.fRight{
    float: right;
}
.logo{
    margin-top: 150px;
}
.login-form {
    width: 410px;
    margin:  auto;
    margin-top: 50px;
}
.login-form .form-item{
    width: 400px;
}
textarea{
    display: block;
    margin: 10px 0 ;
 
    border: 1px solid #ecf0f1;
}
label{
    font-size: 14px; 
    font-weight: bold;
}
@media only screen and (max-width: 600px) {
    #nav-menu {
        display: none;
    }
    #main-content{
        padding-left: 10px;
        width: 95%;
    }
}

@media only screen and (min-width: 600px) {
    #nav-menu {
        display: none;
    }

    #main-content{
        padding-left: 10px;
        width: 95%;
    }
    .block-item{

        margin-bottom: 10px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #nav-menu {
        display: none;
    }
    .block-item{
        margin-bottom: 10px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #nav-menu {
        display: block;
    }
    #main-content {
        padding-top: 20px;
        padding-left: 260px;
        float: left;
        width: 78%;

    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #nav-menu {
        display: block;
    }
    #main-content {
        padding-top: 20px;
        padding-left: 260px;
        float: left;
        width: 78%;

    }
}